<section class="row">
  <div class="container">
    <%= form_for @changeset, Routes.links_path(@conn, :create), fn f -> %>
      <%= text_input f, :original %>
      <%= submit "Submit" %>
    <% end %>
  </div>
</section>
